# Ignore everything in envs/
envs/*

# But do NOT ignore the envs/reqs/ directory and its contents
!envs/ymls/
!envs/ymls/**

# Ignore mamba temp files inside envs/ymls/
envs/ymls/**/mamba*

# rest of the instructions (order matters!)
**/.DS_Store
**/__pycache__/
pyproject.toml
vars/*
models/*

# ignore logs
assets/logs/log.txt
assets/logs/previous_sessions/*

# Ignore test images
data/test-images/*

# dont do config files
config/*

# dont commit claude stuff in any subfolder 
**/.claude/

# anything in temp is not relevant
assets/temp/*
tmp/*

# Do not check in micromamba binary on Linux
bin/linux/
