# Ignore everything in envs/
envs/*

# But do NOT ignore the envs/reqs/ directory and its contents
!envs/yamls/
!envs/yamls/**

# rest of the instructions (order matters!)
**/.DS_Store
**/__pycache__/
pyproject.toml
vars/*
models/*

# ignore logs
assets/logs/log.txt
assets/logs/previous_sessions/*

# Ignore test images
data/test-images/*

# dont do config files
config/*
